*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
:root{
--btn-green: hsl(151, 85%, 62%, 1);
--btn-yellow: hsl(61, 84%, 62%);
--btn-blue: hsl(227, 84%, 62%);
--btn-lightBlue: hsl(194, 86%, 62%);
--container-bg: hsl(0, 0%, 98%);
--primary-text-color: 	hsl(0, 0%, 3%);
--white-text-color: hsl(0, 0%, 100%);
}
@font-face{
font-display:swap;
font-family:Alaska;
src:url(fonts/alaska.ttf) format("truetype")
}
body{
    margin: 0;
    font-family: Alaska,sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.flex-large {
    gap: 4rem;
    
}

section {
    max-width: 1110px;
    padding: 2rem 3rem 0 3rem;
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    z-index: 999;
}



.header {
    background-color: hsl(0, 0%, 20%);
    color: var(--white-text-color);
    padding: 1.5rem;
    font-size: 1.4em;
    text-transform:uppercase;
}

.divBox {
    height: 15rem;
    width: 16rem;
    background-color: var(--container-bg);
    border: 1px rgb(228, 227, 227) solid;
    color: var(--primary-text-color);
    padding: 0.2rem 1.4rem 1rem 1.5rem;
    border-radius: 5px;
}
.divBoxLarge {
    height: 100%;
    width: 100%;
    background-color: var(--container-bg);
    border: 1px rgb(228, 227, 227) solid;
    color: var(--primary-text-color);
    padding: 3rem 2rem 3rem 2rem;
    border-radius: 5px;
    
}
#workAccount, #balance, #outstanding  {
    text-align: right;
}

a{
    text-decoration: none;
}

.small-text {
    flex: 1;
    margin-bottom: 1em;
    font-size: .8em;
    text-align: left;
}

.visability {
    display: inline-block !important;
    color: red;
    opacity: 1;
}
.hidden {
    display: none;
}
.also-hidden{
    opacity: 0 !important;
}

.kanel {
    font-size: 1em;
}

h1{
    font-size: 1.4em;
    display: inline-block;
    
}
.currency {
    font-size: 1.4em;
    display: inline-block;
}

h3{
    font-size: .8em;
    margin-top: 1.6rem;
}

.divBox.balance {
    flex: 1;
    min-width: 280px;
}

.divBox.work {
    flex: 1;
    min-width: 280px;
}

.divBox.laptops {
    flex: 1;
    min-width: 280px;
}

.btnGreen {
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    background-color: var(--btn-green);
    color: var(--primary-text-color);
    border: 1px solid rgb(199, 199, 199);
    padding: .5rem 1rem .5rem 1rem;
    margin-top: 2em;
    cursor: pointer;
}

.small{
    gap: 1rem;
}

.btnYellow{
    height: 2rem;
    width: 45%;
    margin-top: 2em;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
    background-color: var(--btn-yellow);
    opacity: 1;
}
.btnBlue{
    height: 2rem;
    width: 45%;
    margin-top: 2em;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
    background-color: var(--btn-blue);
    color:hsl(0, 0%, 100%);
    
}
.btnLightBlue{
    height: 2rem;
    width: 70%;
    margin-top: 2em;
    border-radius: 5px;
    border: 1px solid rgb(199, 199, 199);
    background-color: var(--btn-lightBlue);
    color: var(--primary-text-color);
    font-weight: 700;
}


.selectStyling {
    position:relative;
    width: 100%;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 5px;

}

.laptopInfo {
    font-size: .8em;
}
.image {
    flex: 1;
    
}
.laptopImage {
    width: 20%;
    
}
.laptopInfoLarge {
    
    flex: 1;
}
.largeText {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 2rem;
}
.inforTextSmall {
    font-size: .9em;
    line-height: 1.5em;
}
.priceAndButton {
    flex: 1;
    text-align: center;
    
}




